#animate-cursor {
  content: " ";
  display: block;
  animation: anime-cursor 8s cubic-bezier(0.075, 0.5, 0.1, 1) infinite
    alternate-reverse;
}

@keyframes anime-cursor {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-72px);
  }
  50% {
    transform: translateY(-70px) translateX(-110px);
  }
  75% {
    transform: translateX(-110px);
  }
  100% {
    transform: translateY(0px) translateX(0);
  }
}
